@using EFUploadPicture.Web
@model IEnumerable<Image>
<h1>Home Page</h1>

<table class="table table-bordered">
    <tr>
        <th>Id</th>
        <th>Image</th>
        <th>Description</th>
    </tr>

    @foreach (var image in Model)
    {
        <tr>
            <td>@image.Id</td>
            <td>
                <img style="width: 200px;" src="/UploadedImages/@image.FileName" />
            </td>
            <td>
                @image.Description
            </td>
        </tr>
    }

</table>